<html>
<body>
	<div>
		Estimado ${adminResto},<br> La reserva ID: ${reservaId} ha sido abonada y confirmada por sus integrantes. 
		Para m&aacute;s informaci&oacute;n sobre la misma puede ingresar a la siguiente referencia: <br>
		<a href="${link}">${link}</a>.
		<br>
		<br>
	</div>
	<div>
		Lo saluda atentamente, 
		Equipo de ReserBar
	</div>
</body>
</html>