<html>
<body>
	<div>
		Estimado ${username},<br> Para desbloquear su contraseña deber&aacute; acceder a la siguiente referencia: <br>
		<a href="${link}">${link}</a>.
		<br>
		<br>
	</div>
	<div>
		Lo saluda atentamente, 
		Equipo de ReserBar
	</div>
</body>
</html>